
/*********************************************
                        CSS for myprofile.html
*********************************************/


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3F5F6;
    z-index: -999;
}
.margin-right-16{
    margin-left: 16px;
}
.margin-top-25{
    margin-top: 15px;
}

.margin-bottom-16{
    margin-bottom: 16px;
}
.margin-top-23{
    margin-top: 23px;
}

.border-radius-boxes{
    border-radius: 4px;
}

.shadows{
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.border-radius{
    border-radius: 50%;    
}

.font-large{
    font-size: 36px;
}
.font-small{
    font-size: 13px;
}

.blue-shade1{
    background-color: #303e45; 
    color: white;
}
.blue-shade2{
    background-color: #3a4b53;
    color: white;
}
.blue-shade3{
    background-color: #435761;
    color: white;
}
.blue-shade4{
    background-color: #4d636f;
    color: white;
}
.blue-shade5{
    background-color: #57707d;
    color: white;
}
.blue-shade6{
    background-color: #607d8b;
    color: white;
}
.blue-shade7{
    background-color: #7d97a5;
    color: white;
}
.blue-shade8{
    background-color: #9eb1bb;
    color: black;
}
.blue-shade9{
    background-color: #becbd2;
    color: black;
}
.blue-shade10{
    background-color: #dfe5e8;
    color: black;
}
.blue-shade11{
    background-color: #dfe5e8;
    color: black;
}

/*************************************************
                    Header
**************************************************/

.header{
    width: 100%;
    height: 51px;
    background-color: #4D636F;
    line-height: 50px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
}

.header .menu-item{
    display: inline-block;
    font-size: 18px;
    font-family: Open Sans, sans-serif;
    color: white;
    padding: 12px 24px;
    text-align: center;
    line-height: 27px;
}

.menu-item a{
    color: white;
    text-decoration: none;
    margin-left: 16px;
}

.different-color{
    background-color: #3a4b53;
}

.hover-grey:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}
.different-color:hover{
    background-color: #CCC;
}
.ghanta:hover{
    background-color: #CCC;
}
.margin-world{
    margin-left: -4px;
}

.hover-grey:hover a{
    color: black;
}

.pull-right{
    float: right;
}

.pull-right:hover{
    background-color: white;
    cursor: pointer;
}
.avatar{
    vertical-align: middle;
    padding: 13px 24px;
}

/*************************************************
                    CONTAINER
*************************************************/

.container{
    background-color: red;
    width: 100%;
    margin-top: 51px;
    height: 100%;
    position: relative;
 }

/**************************************************
                MY PROFILE
****************************************************/
.myprofile{
    width: 330px;
    height: 313px;
    background-color: white;
    margin-top: 30px;
    position: absolute;
    display: inline-block;
}

.myprofile .name{
    font-size: 20px;
    font-family: Open Sans, sans-serif;
    text-align: center;
    font-weight: 400;
    margin-top: 12px;
}
.avatar3{
    margin-left: 112px;
    margin-top: 18px;
    display: inline-block;
}

.strip{
    width: 300px;
    height: 1px;
    background-color: #EEEEEE;
    margin-top: 18px;
    margin-left: 16px;
}
.myprofile-text{
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    margin: 20px 0;
}
.myprofile-text .fa{
    color: #607D8B;
    margin-left: 16px;
    margin-right: 24px;
}

/***********************************************
                6 IMAGES TEXT 
****************************************************/

.my-groups{
    height: 91px;
}

.big-image-text{
    width: 330px;
    height: 539px;
    background-color: white;
    margin-top: 366px;
    position: absolute;
    display: inline-block;
}

.first-button{
    height: 36px;
    width: 330px;
    border-style: none;
    color: white;
    background-color: #7d97a5;
    font-family: Open sans, sans-serif;
    font-size: 15px;
}

.fa-circle-o-notch{
    margin-right: 24px;
    margin-left: -182px;
}

.first-button:hover{
    background-color: #CCC;
    color: black;
    cursor: pointer;
}

.first-text{
    width: 296px;
    height: 53px;
    font-family: Open sans, sans-serif;
    color: black;
    padding: 1rem 0;
    padding: 16px;
    resize: none;
}

.fa-calendar-check-o{
    margin-right: 24px;
    margin-left: -184px;
}
.fa-users{
    margin-right: 24px;
    margin-left: -182px;
}


.aura{
    display: inline-block;
    padding-right: 5px;
    padding-left: 32px;
    padding-top: 22px; 
}
.nature{
    display: inline-block;
    padding-left: 5px;
}

.mountains{
    display: inline-block;
    padding-right: 5px;
    padding-left: 32px;
    padding-top: 12px; 
}
.forest{
    display: inline-block;
    padding-left: 5px;
}

.cloud{
    display: inline-block;
    padding-right: 5px;
    padding-left: 32px;
    padding-top: 12px; 
}
.snow{
    display: inline-block;
    padding-left: 5px;
}

/**********************************************
                Interest
************************************************/

.interest{
    width: 330px;
    height: 135px;
    background-color: white;
    margin-top: 928px;
    position: absolute;
    display: inline-block;
}

.interest p{
    font-family: Open sans, sans-serif;
    font-size: 15px;
    margin-top: 19px;
}

.time-pass{
    font-family: Open sans, sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 4px;
    line-height: 1.5;
    display: inline-block;
}

/**********************************************
                HEY!
**************************************************/

.hey{
    width: 330px;
    height: 113px;
    background-color: #DFE5E8;
    margin-top: 1086px;
    position: absolute;
    border: solid 1px #CCC;;
}

.cross{
    background-color: #becbd2;
    border-style: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 16px;
}

.cross:hover{
    background-color: #CCC;
}
.noti-head{
    font-family: Open sans, sans-serif;
    font-weight: bolder;
    padding: 19px 16px;
}

.notification{
    padding-left: 16px;
    margin-right: 10px;
    font-family: Open sans, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}


/******************************************
            SOCIAL POST
*****************************************/

.social-post{
    width: 736px;
    height: 160px;
    background-color: white;
    margin-top: 30px;
    margin-left: 362px;
    position: absolute;
}

.social-text{
    font-family: Open sans, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    font-weight: lighter;
}

.caption{
    width: 704px;
    height: 40px;
    margin-top: 15px;
    font-family: Open sans, sans-serif;
    font-size: 18px;
    resize: none;
}

.post-click{
    border-style: none;
    padding: 10px 14px;
    margin-top: 15px;
    background-color: #607d8b;
    color: white;
}

.post-click:hover{
    background-color: #CCC;
    cursor: pointer;
    color: black;
}

.post{
    display: inline-block;
    padding-left: 9px;
    font-family: Open sans, sans-serif;
}

/***********************************************
                JOHN DOE
*****************************************************/

.john-doe{
    width: 736px;
    height: 517px;
    background-color: white;
    margin-top: 214px;
    margin-left: 362px;
    position: absolute;
}
.image-pad{
    padding: 23px 16px;
    display: inline-block;
}
.user-name{
    font-family: Open sans, sans-serif;
    display: inline-block;
    position: absolute;
    margin-top: 40px;
    font-size: 20px;
}
.time{
    position: absolute;
    display: inline-block;
    margin-left: 592px;
    margin-top: 23px;
    font-family: Open sans, sans-serif;
    font-size: 14px;
}
.strip2{
    width: 704px;
    height: 1px;
    background-color: #EEE;
    margin: 3px 16px;
}

.caption-text{
    margin: 0 16px;
}

.caption-text p{
    font-family: Open sans, sans-serif;
    font-size: 15px;
    padding: 14px 0px;
    line-height: 24px;
}



.margin-right{
    margin-left: 12px;
}
.like-btn{
    font-family: Open sans, sans-serif;
    font-size: 15px;
    padding: 10px 18px;
    border-style: none;
    background-color: #57707d;
    color: white;
    margin-left: 16px;
    margin-top: 15px;
}

.likeme{
    display: inline-block;
    padding-left: 6px;
}

.commentme{
    display: inline-block;
    padding-left: 6px;
}

.comment-btn{
    font-family: Open sans, sans-serif;
    font-size: 15px;
    border-style: none;
    padding: 10px 18px;
    background-color: #57707d;
    color: white;

}

.like-btn:hover{
    background-color: #CCC;
    color: black;
    cursor: pointer;
}

.comment-btn:hover{
    background-color: #CCC;
    color: black;
    cursor: pointer;
}

/******************************************************
                        JANE DOE
*********************************************************/

.jane-doe{
    width: 736px;
    height: 270px;
    background-color: white;
    margin-top: 755px;
    margin-left: 362px;
    position: absolute;
}

.image-pad{
    padding: 23px 16px;
    display: inline-block;
}
.user-name{
    font-family: Open sans, sans-serif;
    display: inline-block;
    position: absolute;
    margin-top: 40px;
    font-size: 20px;
}
.time2{
    position: absolute;
    display: inline-block;
    margin-left: 584px;
    margin-top: 23px;
    font-family: Open sans, sans-serif;
    font-size: 14px;
}
.strip2{
    width: 704px;
    height: 1px;
    background-color: #EEE;
    margin: 3px 16px;
}

.caption-text2{
    margin: 0 16px;
}

.caption-text2 p{
    font-family: Open sans, sans-serif;
    font-size: 15px;
    padding: 14px 0px;
    line-height: 24px;
}


.like2-btn{
    font-family: Open sans, sans-serif;
    font-size: 15px;
    padding: 10px 18px;
    border-style: none;
    background-color: #57707d;
    color: white;
    margin-left: 16px;
}

.likeme2{
    display: inline-block;
    padding-left: 6px;
}

.commentme2{
    display: inline-block;
    padding-left: 6px;
}

.comment2-btn{
    font-family: Open sans, sans-serif;
    font-size: 15px;
    border-style: none;
    padding: 10px 18px;
    background-color: #57707d;
    color: white;

}

.like2-btn:hover{
    background-color: #CCC;
    color: black;
    cursor: pointer;
}

.comment2-btn:hover{
    background-color: #CCC;
    color: black;
    cursor: pointer;
}

/*************************************************
                ANGIE JANE
*****************************************************/

.angie-jane{
    width: 736px;
    height: 809px;
    background-color: white;
    margin-top: 1050px;
    margin-left: 362px;
    position: absolute;
}

.image-pad{
    padding: 23px 16px;
    display: inline-block;
}
.user-name{
    font-family: Open sans, sans-serif;
    display: inline-block;
    position: absolute;
    margin-top: 40px;
    font-size: 20px;
}
.time3{
    position: absolute;
    display: inline-block;
    margin-left: 584px;
    margin-top: 23px;
    font-family: Open sans, sans-serif;
    font-size: 14px;
}
.strip2{
    width: 704px;
    height: 1px;
    background-color: #EEE;
    margin: 3px 16px;
}

.seen{
    font-family: Open-sans, sans-serif;
    margin-top: 25px;
    margin-bottom: 16px;
}

.caption-text3{
    margin: 0 16px;
}

.caption-text3 p{
    font-family: Open sans, sans-serif;
    font-size: 15px;
    padding: 14px 0px;
    line-height: 24px;
    margin-top: 12px;
}


.like2-btn{
    font-family: Open sans, sans-serif;
    font-size: 15px;
    padding: 10px 18px;
    border-style: none;
    background-color: #57707d;
    color: white;
    margin-left: 16px;
}

.likeme2{
    display: inline-block;
    padding-left: 6px;
}

.commentme2{
    display: inline-block;
    padding-left: 6px;
}

.comment2-btn{
    font-family: Open sans, sans-serif;
    font-size: 15px;
    border-style: none;
    padding: 10px 18px;
    background-color: #57707d;
    color: white;

}

.like2-btn:hover{
    background-color: #CCC;
    color: black;
    cursor: pointer;
}

.comment2-btn:hover{
    background-color: #CCC;
    color: black;
    cursor: pointer;
}

/********************************************
            UPCOMING EVENTS
********************************************/

.upcoming-events{
    position: absolute;
    width: 220px;
    height: 320px;
    background-color: white;
    margin-left: 1114px;
    margin-top: 30px;
}
.events{
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    margin: 15px 0;
    margin-left: 50px;
}
.bold-chutti{
    font-family: Open sans, sans-serif;
    margin-left: 80px;
    margin-top: 15px;
    font-weight: bold;
}
.friday{
    font-family: Open sans, sans-serif;
    margin-left: 65px;
    margin-top: 24px;
    font-size: 15px;
}
.info{
    border-style: none;
    padding: 12px 80px;
    margin-left: 15px;
    margin-top: 16px;
    background-color: #dfe5e8; 
}
.ormation{
    font-family: Open sans, sans-serif;
}

.info:hover{
    background-color: #CCC;
    cursor: pointer;
}

/*****************************************************
                    FRIEND REUEST
**********************************************************/

.friend-request{
    position: absolute;
    width: 220px;
    height: 238px;
    background-color: white;
    margin-left: 1114px;
    margin-top: 373px;
}
.friends{
    font-family: Open sans, sans-serif;
    margin-left: 52px;
    margin-top: 23px;
}
.g-avatar{
    margin-left: 60px;
    margin-top: 15px;
}
.jane-name{
    margin-left: 80px;
    font-family: Open sans, sans-serif;
    font-size: 15px;
}
.right{
    border-style: none;
    color: white;
    background-color: #4CAF50;
    margin-top: 20px;
    padding: 10px 40px;
    margin-left: 16px;
}
.wrong{
    border-style: none;
    color: white;
    background-color: #f44336;
    margin-top: 20px;
    padding: 10px 40px;
    margin-left: 16px;
    display: inline-block;
    margin-left: -7px;
}
.right:hover{
    background-color: #CCC;
    color: black;
}
.wrong:hover{
    background-color: #CCC;
    color: black;
}

/*************************************************
                ADVERTISEMENTS
*****************************************************/

.advertisement{
    position: absolute;
    width: 220px;
    height: 84px;
    background-color: white;
    margin-left: 1114px;
    margin-top: 636px;
}
.ads{
    font-family: Open sans, sans-serif;
    text-align: center;
    margin-top: 30px;
}

/************************************************
                BUGS
**************************************************/

.bug{
    position: absolute;
    width: 220px;
    height: 130px;
    background-color: white;
    margin-left: 1114px;
    margin-top: 745px;
}
.fa-bug{
    font-size: 36px;
    margin-left: 100px;
    margin-top: 50px;
}

/**********************************************************
                        FOOTER
**************************************************************/

.footer{
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #435761;
    margin-top: 1897px;
}
.footer-text{
    font-family: Open sans, sans-serif;
    color: white;
    font-size: 18px;
    margin-left: 18px;
    margin-top: 30px;
}

/******************************************************************
                    POWERED
**********************************************************************/
.powered{
    position: absolute;
    width: 100%;
    height: 52px;
    background-color: #303E45;
    margin-top: 1977px;
    font-family: Open sans, sans-serif;
    font-size: 15px;
}
.powered p{
    color: white;
    margin-left: 18px;
    margin-top: 20px;
}
.powered a:link,
.powered a:visited{
    color: white;
}








